
#User constraints for dragonv5
##DIGITAL_TRIG####################################
#NET "L1_SC_EN" LOC = W12;
#NET "L1_SC_EN" IOSTANDARD = LVCMOS33;
#NET "L1_SC_DIN" LOC = V12;
#NET "L1_SC_DIN" IOSTANDARD = LVCMOS33;
#NET "L1_SC_CLK" LOC = AD11;
#NET "L1_SC_CLK" IOSTANDARD = LVCMOS33;
#NET "L1_SC_DOUT" LOC = AC11;
#NET "L1_SC_DOUT" IOSTANDARD = LVCMOS33;
#
#NET "DIGITAL_TRIG_OUT_P[0]" LOC = T3;
#NET "DIGITAL_TRIG_OUT_N[0]" LOC = T1;
#NET "DIGITAL_TRIG_OUT_P[1]" LOC = R5;
#NET "DIGITAL_TRIG_OUT_N[1]" LOC = T4;
#NET "DIGITAL_TRIG_OUT_P[2]" LOC = N4;
#NET "DIGITAL_TRIG_OUT_N[2]" LOC = N3;
#NET "DIGITAL_TRIG_OUT_P[3]" LOC = P5;
#NET "DIGITAL_TRIG_OUT_N[3]" LOC = N5;
#NET "DIGITAL_TRIG_OUT_P[4]" LOC = M6;
#NET "DIGITAL_TRIG_OUT_N[4]" LOC = M4;
#NET "DIGITAL_TRIG_OUT_P[5]" LOC = L7;
#NET "DIGITAL_TRIG_OUT_N[5]" LOC = L6;
#NET "DIGITAL_TRIG_OUT_P[6]" LOC = L4;
#NET "DIGITAL_TRIG_OUT_N[6]" LOC = L3;
#
#NET "TRIG_BPOUT_P[0]" LOC = Y14;
#NET "TRIG_BPOUT_N[0]" LOC = AA14;
#NET "TRIG_BPOUT_P[1]" LOC = AE13;
#NET "TRIG_BPOUT_N[1]" LOC = AF13;
#NET "TRIG_BPOUT_P[2]" LOC = AC13;
#NET "TRIG_BPOUT_N[2]" LOC = AD13;
#NET "TRIG_BPOUT_P[3]" LOC = AA12;
#NET "TRIG_BPOUT_N[3]" LOC = AC12;
#NET "TRIG_BPOUT_P[4]" LOC = U15;
#NET "TRIG_BPOUT_N[4]" LOC = V14;
#NET "TRIG_BPOUT_P[5]" LOC = W13;
#NET "TRIG_BPOUT_N[5]" LOC = Y13;
#NET "TRIG_BPOUT_P[6]" LOC = AA13;
#NET "TRIG_BPOUT_N[6]" LOC = AB13;
#NET "TRGL1_P" LOC = AD18;
#NET "TRGL1_N" LOC = AF18;
#
#NET "TRIG_BPOUT_P[0]" IOSTANDARD = LVDS_33;
#NET "TRIG_BPOUT_N[0]" IOSTANDARD = LVDS_33;
#NET "TRIG_BPOUT_P[1]" IOSTANDARD = LVDS_33;
#NET "TRIG_BPOUT_N[1]" IOSTANDARD = LVDS_33;
#NET "TRIG_BPOUT_P[2]" IOSTANDARD = LVDS_33;
#NET "TRIG_BPOUT_N[2]" IOSTANDARD = LVDS_33;
#NET "TRIG_BPOUT_P[3]" IOSTANDARD = LVDS_33;
#NET "TRIG_BPOUT_N[3]" IOSTANDARD = LVDS_33;
#NET "TRIG_BPOUT_P[4]" IOSTANDARD = LVDS_33;
#NET "TRIG_BPOUT_N[4]" IOSTANDARD = LVDS_33;
#NET "TRIG_BPOUT_P[5]" IOSTANDARD = LVDS_33;
#NET "TRIG_BPOUT_N[5]" IOSTANDARD = LVDS_33;
#NET "TRIG_BPOUT_P[6]" IOSTANDARD = LVDS_33;
#NET "TRIG_BPOUT_N[6]" IOSTANDARD = LVDS_33;
##DIGITAL_TRIG####################################
#ANALOG_TRIG####################################
NET "L0_CTR0" LOC = U8;
NET "L0_CTR1" LOC = T10;
NET "L0_CTR2" LOC = U9;
NET "L0_CTR3" LOC = R10;
NET "L0_CTR4" LOC = T9;
NET "L0_CTR5" LOC = T8;
NET "L0_CTR6" LOC = P8;
NET "L0_CTR7" LOC = N8;
NET "L1_OUT2_N" LOC = U1;
NET "L1_OUT2_P" LOC = U2;
NET "L1_OUT_N" LOC = P1;
NET "L1_OUT_P" LOC = P3;
NET "L1_SC_EN" LOC = W12;
NET "L1_SC_DIN" LOC = V12;
NET "L1_SC_CLK" LOC = AD11;
NET "L1_SC_DOUT" LOC = AC11;
NET "L1_INIT_R" LOC = Y10;
NET "L0_CTR0" IOSTANDARD = LVCMOS33;
NET "L0_CTR1" IOSTANDARD = LVCMOS33;
NET "L0_CTR2" IOSTANDARD = LVCMOS33;
NET "L0_CTR3" IOSTANDARD = LVCMOS33;
NET "L0_CTR4" IOSTANDARD = LVCMOS33;
NET "L0_CTR5" IOSTANDARD = LVCMOS33;
NET "L0_CTR6" IOSTANDARD = LVCMOS33;
NET "L0_CTR7" IOSTANDARD = LVCMOS33;
NET "L1_SC_EN" IOSTANDARD = LVCMOS33;
NET "L1_SC_DIN" IOSTANDARD = LVCMOS33;
NET "L1_SC_CLK" IOSTANDARD = LVCMOS33;
NET "L1_SC_DOUT" IOSTANDARD = LVCMOS33;
NET "L1_INIT_R" IOSTANDARD = LVCMOS33;

NET "AN_TRG_OUT_P[0]" LOC = AE15;
NET "AN_TRG_OUT_N[0]" LOC = AF15;
NET "AN_TRG_OUT_P[1]" LOC = AB17;
NET "AN_TRG_OUT_N[1]" LOC = AC17;
NET "AN_TRG_OUT_P[0]" IOSTANDARD = LVDS_33;
NET "AN_TRG_OUT_N[0]" IOSTANDARD = LVDS_33;
NET "AN_TRG_OUT_P[1]" IOSTANDARD = LVDS_33;
NET "AN_TRG_OUT_N[1]" IOSTANDARD = LVDS_33;
NET "TRGL1_P" LOC = AD18;
NET "TRGL1_N" LOC = AF18;

NET "DIGITAL_TRIG_OUT_P[0]" LOC = T3;
NET "DIGITAL_TRIG_OUT_N[0]" LOC = T1;
NET "DIGITAL_TRIG_OUT_P[1]" LOC = R5;
NET "DIGITAL_TRIG_OUT_N[1]" LOC = T4;
NET "DIGITAL_TRIG_OUT_P[2]" LOC = N4;
NET "DIGITAL_TRIG_OUT_N[2]" LOC = N3;
NET "DIGITAL_TRIG_OUT_P[3]" LOC = P5;
NET "DIGITAL_TRIG_OUT_N[3]" LOC = N5;
NET "DIGITAL_TRIG_OUT_P[4]" LOC = M6;
NET "DIGITAL_TRIG_OUT_N[4]" LOC = M4;
NET "DIGITAL_TRIG_OUT_P[5]" LOC = L7;
NET "DIGITAL_TRIG_OUT_N[5]" LOC = L6;
NET "DIGITAL_TRIG_OUT_P[6]" LOC = L4;
NET "DIGITAL_TRIG_OUT_N[6]" LOC = L3;
NET "TRIG_BPOUT_P[0]" LOC = Y14;
NET "TRIG_BPOUT_N[0]" LOC = AA14;
NET "TRIG_BPOUT_P[1]" LOC = AE13;
NET "TRIG_BPOUT_N[1]" LOC = AF13;
NET "TRIG_BPOUT_P[2]" LOC = AC13;
NET "TRIG_BPOUT_N[2]" LOC = AD13;
NET "TRIG_BPOUT_P[3]" LOC = AA12;
NET "TRIG_BPOUT_N[3]" LOC = AC12;
NET "TRIG_BPOUT_P[4]" LOC = U15;
NET "TRIG_BPOUT_N[4]" LOC = V14;
NET "TRIG_BPOUT_P[5]" LOC = W13;
NET "TRIG_BPOUT_N[5]" LOC = Y13;
NET "TRIG_BPOUT_P[6]" LOC = AA13;
NET "TRIG_BPOUT_N[6]" LOC = AB13;

NET "FPGA_SLOW_CTRL3" LOC = E2;
NET "FPGA_SLOW_CTRL2" LOC = E1;
NET "FPGA_SLOW_CTRL1" LOC = F1;
NET "FPGA_SLOW_CTRL0" LOC = F3;
#ANALOG_TRIG####################################
#TESTBP######################################
NET "TESTBP_EXTTRG" LOC = AE21;
NET "TESTBP_EXTTRG" IOSTANDARD = LVCMOS33;
#TESTBP######################################
NET "DIP_SWITCH[0]" LOC = N2;
NET "DIP_SWITCH[0]" PULLUP;
NET "DIP_SWITCH[1]" LOC = N1;
NET "DIP_SWITCH[1]" PULLUP;
NET "DIP_SWITCH[2]" LOC = M3;
NET "DIP_SWITCH[2]" PULLUP;
NET "DIP_SWITCH[3]" LOC = M1;
NET "DIP_SWITCH[3]" PULLUP;
NET "DIP_SWITCH[4]" LOC = L2;
NET "DIP_SWITCH[4]" PULLUP;
NET "DIP_SWITCH[5]" LOC = L1;
NET "DIP_SWITCH[5]" PULLUP;
NET "DIP_SWITCH[6]" LOC = K3;
NET "DIP_SWITCH[6]" PULLUP;
NET "DIP_SWITCH[7]" LOC = K1;
NET "DIP_SWITCH[7]" PULLUP;

NET "LED[0]" LOC = J4;
NET "LED[1]" LOC = J3;
NET "LED[2]" LOC = J2;
NET "LED[3]" LOC = J1;

NET "OSC" LOC = P21;
NET "OSC" IOSTANDARD = LVCMOS33;

NET "ETH_COL" LOC = Y20;
NET "ETH_COL" IOSTANDARD = LVCMOS33;
NET "ETH_CRS" LOC = Y21;
NET "ETH_CRS" IOSTANDARD = LVCMOS33;
NET "ETH_GTXCLK" LOC = AE24;
NET "ETH_GTXCLK" IOSTANDARD = LVCMOS33;
NET "ETH_IRQ" LOC = V23;
NET "ETH_IRQ" IOSTANDARD = LVCMOS33;
NET "ETH_MDC" LOC = AF25;
NET "ETH_MDC" IOSTANDARD = LVCMOS33;
NET "ETH_MDIO" LOC = AE23;
NET "ETH_MDIO" IOSTANDARD = LVCMOS33;
NET "ETH_RSTn" LOC = W26;
NET "ETH_RSTn" IOSTANDARD = LVCMOS33;
NET "ETH_RX_CLK" LOC = W24;
NET "ETH_RX_CLK" IOSTANDARD = LVCMOS33;
NET "ETH_RX_DV" LOC = Y24;
NET "ETH_RX_DV" IOSTANDARD = LVCMOS33;
NET "ETH_RX_D[0]" LOC = AB24;
NET "ETH_RX_D[0]" IOSTANDARD = LVCMOS33;
NET "ETH_RX_D[1]" LOC = AB26;
NET "ETH_RX_D[1]" IOSTANDARD = LVCMOS33;
NET "ETH_RX_D[2]" LOC = AA22;
NET "ETH_RX_D[2]" IOSTANDARD = LVCMOS33;
NET "ETH_RX_D[3]" LOC = AA23;
NET "ETH_RX_D[3]" IOSTANDARD = LVCMOS33;
NET "ETH_RX_D[4]" LOC = AA24;
NET "ETH_RX_D[4]" IOSTANDARD = LVCMOS33;
NET "ETH_RX_D[5]" LOC = AA25;
NET "ETH_RX_D[5]" IOSTANDARD = LVCMOS33;
NET "ETH_RX_D[6]" LOC = AA26;
NET "ETH_RX_D[6]" IOSTANDARD = LVCMOS33;
NET "ETH_RX_D[7]" LOC = Y26;
NET "ETH_RX_D[7]" IOSTANDARD = LVCMOS33;
NET "ETH_RX_ER" LOC = Y22;
NET "ETH_RX_ER" IOSTANDARD = LVCMOS33;
NET "ETH_TX_CLK" LOC = U25;
NET "ETH_TX_CLK" IOSTANDARD = LVCMOS33;
NET "ETH_TX_D[0]" LOC = AE25;
NET "ETH_TX_D[0]" IOSTANDARD = LVCMOS33;
NET "ETH_TX_D[1]" LOC = AE26;
NET "ETH_TX_D[1]" IOSTANDARD = LVCMOS33;
NET "ETH_TX_D[2]" LOC = AD24;
NET "ETH_TX_D[2]" IOSTANDARD = LVCMOS33;
NET "ETH_TX_D[3]" LOC = AD26;
NET "ETH_TX_D[3]" IOSTANDARD = LVCMOS33;
NET "ETH_TX_D[4]" LOC = AC23;
NET "ETH_TX_D[4]" IOSTANDARD = LVCMOS33;
NET "ETH_TX_D[5]" LOC = AC24;
NET "ETH_TX_D[5]" IOSTANDARD = LVCMOS33;
NET "ETH_TX_D[6]" LOC = AC25;
NET "ETH_TX_D[6]" IOSTANDARD = LVCMOS33;
NET "ETH_TX_D[7]" LOC = AC26;
NET "ETH_TX_D[7]" IOSTANDARD = LVCMOS33;
NET "ETH_TX_EN" LOC = AB21;
NET "ETH_TX_EN" IOSTANDARD = LVCMOS33;
NET "ETH_TX_ER" LOC = AB22;
NET "ETH_TX_ER" IOSTANDARD = LVCMOS33;

NET "LED_1000M" LOC = W22;
NET "LED_1000M" IOSTANDARD = LVCMOS33;
NET "LED_100M" LOC = W19;
NET "LED_100M" IOSTANDARD = LVCMOS33;
NET "LED_10M" LOC = V26;
NET "LED_10M" IOSTANDARD = LVCMOS33;
NET "LED_ACT" LOC = V24;
NET "LED_ACT" IOSTANDARD = LVCMOS33;

NET "SCB_MCSn" LOC = V22;
NET "SCB_MCSn" IOSTANDARD = LVCMOS33;
NET "SCB_MDI" LOC = V20;
NET "SCB_MDI" IOSTANDARD = LVCMOS33;
NET "SCB_MEX" LOC = U24;
NET "SCB_MEX" IOSTANDARD = LVCMOS33;
NET "SCB_MSK" LOC = U23;
NET "SCB_MSK" IOSTANDARD = LVCMOS33;
NET "SCB_TP_TRIG_P" LOC = B22;
NET "SCB_TP_TRIG_N" LOC = A22;
NET "SCB_MDO" LOC = V19;
NET "SCB_MDO" IOSTANDARD = LVCMOS33;
NET "SCB_nCFG" LOC = P26;
NET "SCB_nCFG" IOSTANDARD = LVCMOS33;
NET "SCB_nIRQ" LOC = R25;
NET "SCB_nIRQ" IOSTANDARD = LVCMOS33;

NET "DAC_CS" LOC = L23;
NET "DAC_CS" IOSTANDARD = LVCMOS33;
NET "DAC_LDACn" LOC = L24;
NET "DAC_LDACn" IOSTANDARD = LVCMOS33;
NET "DAC_SCK" LOC = K19;
NET "DAC_SCK" IOSTANDARD = LVCMOS33;
NET "DAC_SDI" LOC = K18;
NET "DAC_SDI" IOSTANDARD = LVCMOS33;

NET "AD9222_CLK_N" LOC = F10;
NET "AD9222_CLK_P" LOC = E10;
NET "AD9222_DCO_N" LOC = A13;
NET "AD9222_DCO_P" LOC = C13;
NET "AD9222_FCO_N" LOC = A14;
NET "AD9222_FCO_P" LOC = B14;
NET "AD9222_OUT_N[0]" LOC = A17;
NET "AD9222_OUT_N[1]" LOC = A16;
NET "AD9222_OUT_N[2]" LOC = C16;
NET "AD9222_OUT_N[3]" LOC = E16;
NET "AD9222_OUT_N[4]" LOC = C12;
NET "AD9222_OUT_N[5]" LOC = A12;
NET "AD9222_OUT_N[6]" LOC = F11;
NET "AD9222_OUT_N[7]" LOC = A11;
NET "AD9222_OUT_P[0]" LOC = C17;
NET "AD9222_OUT_P[1]" LOC = B16;
NET "AD9222_OUT_P[2]" LOC = D16;
NET "AD9222_OUT_P[3]" LOC = F16;
NET "AD9222_OUT_P[4]" LOC = D12;
NET "AD9222_OUT_P[5]" LOC = B12;
NET "AD9222_OUT_P[6]" LOC = D11;
NET "AD9222_OUT_P[7]" LOC = C11;
NET "AD9222_SCLK" LOC = E17;
NET "AD9222_SDIO" LOC = G17;
NET "AD9222_SDIO_DIR" LOC = F17;
NET "AD9222_CSBn" LOC = H16;

NET "DRS_A0[0]" LOC = H18;
NET "DRS_A0[1]" LOC = J15;
NET "DRS_A0[2]" LOC = J14;
NET "DRS_A0[3]" LOC = K7;
NET "DRS_A0[4]" LOC = H7;
NET "DRS_A0[5]" LOC = H6;
NET "DRS_A0[6]" LOC = G3;
NET "DRS_A0[7]" LOC = C4;
NET "DRS_A1[0]" LOC = G19;
NET "DRS_A1[1]" LOC = H15;
NET "DRS_A1[2]" LOC = G14;
NET "DRS_A1[3]" LOC = K6;
NET "DRS_A1[4]" LOC = J7;
NET "DRS_A1[5]" LOC = H5;
NET "DRS_A1[6]" LOC = G4;
NET "DRS_A1[7]" LOC = C3;
NET "DRS_A2[0]" LOC = K20;
NET "DRS_A2[1]" LOC = B25;
NET "DRS_A2[2]" LOC = A23;
NET "DRS_A2[3]" LOC = B24;
NET "DRS_A2[4]" LOC = L9;
NET "DRS_A2[5]" LOC = G6;
NET "DRS_A2[6]" LOC = F5;
NET "DRS_A2[7]" LOC = B2;
NET "DRS_A3[0]" LOC = K21;
NET "DRS_A3[1]" LOC = B26;
NET "DRS_A3[2]" LOC = B23;
NET "DRS_A3[3]" LOC = C24;
NET "DRS_A3[4]" LOC = K10;
NET "DRS_A3[5]" LOC = G5;
NET "DRS_A3[6]" LOC = E5;
NET "DRS_A3[7]" LOC = B1;
NET "DRS_DENABLE" LOC = C25;
NET "DRS_DTAP[0]" LOC = N26;
NET "DRS_DTAP[1]" LOC = L26;
NET "DRS_DTAP[2]" LOC = J25;
NET "DRS_DTAP[3]" LOC = G24;
NET "DRS_DTAP[4]" LOC = F26;
NET "DRS_DTAP[5]" LOC = E26;
NET "DRS_DTAP[6]" LOC = C8;
NET "DRS_DTAP[7]" LOC = B6;
NET "DRS_DWRITE" LOC = C26;
NET "DRS_PLLLCK[0]" LOC = N25;
NET "DRS_PLLLCK[1]" LOC = L25;
NET "DRS_PLLLCK[2]" LOC = J24;
NET "DRS_PLLLCK[3]" LOC = H26;
NET "DRS_PLLLCK[4]" LOC = F24;
NET "DRS_PLLLCK[5]" LOC = E25;
NET "DRS_PLLLCK[6]" LOC = D8;
NET "DRS_PLLLCK[7]" LOC = E6;
NET "DRS_REFCLK_N[0]" LOC = A21;
NET "DRS_REFCLK_N[1]" LOC = C20;
NET "DRS_REFCLK_N[2]" LOC = D19;
NET "DRS_REFCLK_N[3]" LOC = E18;
NET "DRS_REFCLK_N[4]" LOC = A18;
NET "DRS_REFCLK_N[5]" LOC = C10;
NET "DRS_REFCLK_N[6]" LOC = A9;
NET "DRS_REFCLK_N[7]" LOC = C6;
NET "DRS_REFCLK_P[0]" LOC = C21;
NET "DRS_REFCLK_P[1]" LOC = D21;
NET "DRS_REFCLK_P[2]" LOC = E19;
NET "DRS_REFCLK_P[3]" LOC = F18;
NET "DRS_REFCLK_P[4]" LOC = B18;
NET "DRS_REFCLK_P[5]" LOC = D10;
NET "DRS_REFCLK_P[6]" LOC = C9;
NET "DRS_REFCLK_P[7]" LOC = D6;
NET "DRS_RESETn[0]" LOC = A25;
NET "DRS_RESETn[1]" LOC = J23;
NET "DRS_RESETn[2]" LOC = H22;
NET "DRS_RESETn[3]" LOC = G22;

NET "DRS_RESETn[4]" LOC = G23;
#NET "DRS_RESETn[4]" LOC = M26;
NET "DRS_RESETn[5]" LOC = F22;
NET "DRS_RESETn[6]" LOC = F9;
NET "DRS_RESETn[7]" LOC = F7;
NET "DRS_RSRLOAD[0]" LOC = G21;
NET "DRS_RSRLOAD[1]" LOC = A15;
NET "DRS_RSRLOAD[2]" LOC = D15;
NET "DRS_RSRLOAD[3]" LOC = K8;
NET "DRS_RSRLOAD[4]" LOC = H8;
NET "DRS_RSRLOAD[5]" LOC = J5;
NET "DRS_RSRLOAD[6]" LOC = E3;
NET "DRS_RSRLOAD[7]" LOC = D3;
NET "DRS_SRCLK[0]" LOC = G20;
NET "DRS_SRCLK[1]" LOC = C15;
NET "DRS_SRCLK[2]" LOC = E14;
NET "DRS_SRCLK[3]" LOC = L8;
NET "DRS_SRCLK[4]" LOC = G7;
NET "DRS_SRCLK[5]" LOC = K5;
NET "DRS_SRCLK[6]" LOC = E4;
NET "DRS_SRCLK[7]" LOC = D1;
NET "DRS_SRIN" LOC = D22;
NET "DRS_SROUT[0]" LOC = M24;
NET "DRS_SROUT[1]" LOC = K24;
NET "DRS_SROUT[2]" LOC = J26;
NET "DRS_SROUT[3]" LOC = G25;
NET "DRS_SROUT[4]" LOC = E23;
NET "DRS_SROUT[5]" LOC = D23;
NET "DRS_SROUT[6]" LOC = B8;
NET "DRS_SROUT[7]" LOC = A6;
NET "DRS_WSRIN" LOC = D26;

NET "DRS_WSROUT[0]" LOC = M26;
#NET "DRS_WSROUT[0]" LOC = G23;
NET "DRS_WSROUT[1]" LOC = K26;
NET "DRS_WSROUT[2]" LOC = H24;
NET "DRS_WSROUT[3]" LOC = G26;
NET "DRS_WSROUT[4]" LOC = E24;
NET "DRS_WSROUT[5]" LOC = D24;
NET "DRS_WSROUT[6]" LOC = A8;
NET "DRS_WSROUT[7]" LOC = D5;
NET "DRS_TAG_H_P" LOC = C7;
NET "DRS_TAG_H_N" LOC = A7;
NET "DRS_TAG_L_P" LOC = B4;
NET "DRS_TAG_L_N" LOC = A4;
NET "DRS_CAL_P[0]" LOC = E20;
NET "DRS_CAL_N[0]" LOC = D20;
NET "DRS_CAL_P[1]" LOC = B20;
NET "DRS_CAL_N[1]" LOC = A20;
NET "DRS_CAL_P[2]" LOC = C19;
NET "DRS_CAL_N[2]" LOC = A19;
NET "DRS_CAL_P[3]" LOC = D18;
NET "DRS_CAL_N[3]" LOC = C18;
NET "DRS_CAL_P[4]" LOC = J17;
NET "DRS_CAL_N[4]" LOC = H17;
NET "DRS_CAL_P[5]" LOC = B10;
NET "DRS_CAL_N[5]" LOC = A10;
NET "DRS_CAL_P[6]" LOC = E8;
NET "DRS_CAL_N[6]" LOC = D7;
NET "DRS_CAL_P[7]" LOC = C5;
NET "DRS_CAL_N[7]" LOC = A5;

NET "EEPROM_CS" LOC = H3;
NET "EEPROM_SK" LOC = H1;
NET "EEPROM_DI" LOC = G1;
NET "EEPROM_DO" LOC = G2;

NET "SPI_SCK" LOC = AD22;
NET "SPI_SCK" IOSTANDARD = LVCMOS33;
NET "SPI_MOSI" LOC = AF20;
NET "SPI_MOSI" IOSTANDARD = LVCMOS33;
NET "SPI_SS" LOC = AF4;
NET "SPI_SS" IOSTANDARD = LVCMOS33;
NET "SPI_MISO" LOC = AD20;
NET "SPI_MISO" IOSTANDARD = LVCMOS33;
NET "SPI_PROGRAM_B" LOC = W14;
NET "SPI_PROGRAM_B" IOSTANDARD = LVCMOS33;
NET "SPI_PROGRAM_B" PULLUP;

NET "SRAM_A[0]" LOC = AB3;
NET "SRAM_A[1]" LOC = AB4;
NET "SRAM_A[2]" LOC = AC1;
NET "SRAM_A[3]" LOC = AC2;
NET "SRAM_A[4]" LOC = AC3;
NET "SRAM_A[5]" LOC = AC4;
NET "SRAM_A[6]" LOC = AA3;
NET "SRAM_A[7]" LOC = AA2;
NET "SRAM_A[8]" LOC = AA1;
NET "SRAM_A[9]" LOC = Y8;
NET "SRAM_A[10]" LOC = Y6;
NET "SRAM_A[11]" LOC = Y5;
NET "SRAM_A[12]" LOC = Y3;
NET "SRAM_A[13]" LOC = Y1;
NET "SRAM_A[14]" LOC = W1;
NET "SRAM_A[15]" LOC = AE11;
NET "SRAM_A[16]" LOC = AF11;
NET "SRAM_A[17]" LOC = AD6;
NET "SRAM_A[18]" LOC = AF5;
NET "SRAM_A[19]" LOC = AB1;
NET "SRAM_A[20]" LOC = AA4;
NET "SRAM_MODE" LOC = AD1;
NET "SRAM_ZZ" LOC = V6;
NET "SRAM_ADVn" LOC = AB10;
NET "SRAM_ADSPn" LOC = AD10;
NET "SRAM_ADSCn" LOC = AF10;
NET "SRAM_OEn" LOC = AF9;
NET "SRAM_BWEn" LOC = AE9;
NET "SRAM_GWn" LOC = AD9;
NET "SRAM_CLK" LOC = AC9;
NET "SRAM_BWn[0]" LOC = AA9;
NET "SRAM_BWn[1]" LOC = AF8;
NET "SRAM_BWn[2]" LOC = AD8;
NET "SRAM_BWn[3]" LOC = AF7;
NET "SRAM_CE3n" LOC = AB9;
NET "SRAM_CE2" LOC = AE7;
NET "SRAM_CE1n" LOC = AF6;
NET "SRAM_DQ[0]" LOC = W3;
NET "SRAM_DQ[1]" LOC = W5;
NET "SRAM_DQ[2]" LOC = W7;
NET "SRAM_DQ[3]" LOC = W8;
NET "SRAM_DQ[4]" LOC = V1;
NET "SRAM_DQ[5]" LOC = V3;
NET "SRAM_DQ[6]" LOC = V4;
NET "SRAM_DQ[7]" LOC = V5;
NET "SRAM_DQ[8]" LOC = V7;
NET "SRAM_DQ[9]" LOC = V8;
NET "SRAM_DQ[10]" LOC = U3;
NET "SRAM_DQ[11]" LOC = U4;
NET "SRAM_DQ[12]" LOC = U5;
NET "SRAM_DQ[13]" LOC = U7;
NET "SRAM_DQ[14]" LOC = T6;
NET "SRAM_DQ[15]" LOC = R6;
NET "SRAM_DQ[16]" LOC = AA8;
NET "SRAM_DQ[17]" LOC = AB8;
NET "SRAM_DQ[18]" LOC = AA7;
NET "SRAM_DQ[19]" LOC = AB7;
NET "SRAM_DQ[20]" LOC = AC7;
NET "SRAM_DQ[21]" LOC = AD7;
NET "SRAM_DQ[22]" LOC = AB6;
NET "SRAM_DQ[23]" LOC = AA5;
NET "SRAM_DQ[24]" LOC = AB5;
NET "SRAM_DQ[25]" LOC = AC5;
NET "SRAM_DQ[26]" LOC = AD5;
NET "SRAM_DQ[27]" LOC = AF2;
NET "SRAM_DQ[28]" LOC = AE3;
NET "SRAM_DQ[29]" LOC = AE2;
NET "SRAM_DQ[30]" LOC = AE1;
NET "SRAM_DQ[31]" LOC = AD4;
NET "SRAM_DQP[0]" LOC = W2;
NET "SRAM_DQP[1]" LOC = R7;
NET "SRAM_DQP[2]" LOC = AE5;
NET "SRAM_DQP[3]" LOC = AD3;

NET "SRAM_A[0]" IOSTANDARD = LVCMOS33;
NET "SRAM_A[1]" IOSTANDARD = LVCMOS33;
NET "SRAM_A[2]" IOSTANDARD = LVCMOS33;
NET "SRAM_A[3]" IOSTANDARD = LVCMOS33;
NET "SRAM_A[4]" IOSTANDARD = LVCMOS33;
NET "SRAM_A[5]" IOSTANDARD = LVCMOS33;
NET "SRAM_A[6]" IOSTANDARD = LVCMOS33;
NET "SRAM_A[7]" IOSTANDARD = LVCMOS33;
NET "SRAM_A[8]" IOSTANDARD = LVCMOS33;
NET "SRAM_A[9]" IOSTANDARD = LVCMOS33;
NET "SRAM_A[10]" IOSTANDARD = LVCMOS33;
NET "SRAM_A[11]" IOSTANDARD = LVCMOS33;
NET "SRAM_A[12]" IOSTANDARD = LVCMOS33;
NET "SRAM_A[13]" IOSTANDARD = LVCMOS33;
NET "SRAM_A[14]" IOSTANDARD = LVCMOS33;
NET "SRAM_A[15]" IOSTANDARD = LVCMOS33;
NET "SRAM_A[16]" IOSTANDARD = LVCMOS33;
NET "SRAM_A[17]" IOSTANDARD = LVCMOS33;
NET "SRAM_A[18]" IOSTANDARD = LVCMOS33;
NET "SRAM_A[19]" IOSTANDARD = LVCMOS33;
NET "SRAM_A[20]" IOSTANDARD = LVCMOS33;
NET "SRAM_MODE" IOSTANDARD = LVCMOS33;
NET "SRAM_ZZ" IOSTANDARD = LVCMOS33;
NET "SRAM_ADVn" IOSTANDARD = LVCMOS33;
NET "SRAM_ADSPn" IOSTANDARD = LVCMOS33;
NET "SRAM_ADSCn" IOSTANDARD = LVCMOS33;
NET "SRAM_OEn" IOSTANDARD = LVCMOS33;
NET "SRAM_BWEn" IOSTANDARD = LVCMOS33;
NET "SRAM_GWn" IOSTANDARD = LVCMOS33;
NET "SRAM_CLK" IOSTANDARD = LVCMOS33;
NET "SRAM_BWn[0]" IOSTANDARD = LVCMOS33;
NET "SRAM_BWn[1]" IOSTANDARD = LVCMOS33;
NET "SRAM_BWn[2]" IOSTANDARD = LVCMOS33;
NET "SRAM_BWn[3]" IOSTANDARD = LVCMOS33;
NET "SRAM_CE3n" IOSTANDARD = LVCMOS33;
NET "SRAM_CE2" IOSTANDARD = LVCMOS33;
NET "SRAM_CE1n" IOSTANDARD = LVCMOS33;
NET "SRAM_DQ[0]" IOSTANDARD = LVCMOS33;
NET "SRAM_DQ[1]" IOSTANDARD = LVCMOS33;
NET "SRAM_DQ[2]" IOSTANDARD = LVCMOS33;
NET "SRAM_DQ[3]" IOSTANDARD = LVCMOS33;
NET "SRAM_DQ[4]" IOSTANDARD = LVCMOS33;
NET "SRAM_DQ[5]" IOSTANDARD = LVCMOS33;
NET "SRAM_DQ[6]" IOSTANDARD = LVCMOS33;
NET "SRAM_DQ[7]" IOSTANDARD = LVCMOS33;
NET "SRAM_DQ[8]" IOSTANDARD = LVCMOS33;
NET "SRAM_DQ[9]" IOSTANDARD = LVCMOS33;
NET "SRAM_DQ[10]" IOSTANDARD = LVCMOS33;
NET "SRAM_DQ[11]" IOSTANDARD = LVCMOS33;
NET "SRAM_DQ[12]" IOSTANDARD = LVCMOS33;
NET "SRAM_DQ[13]" IOSTANDARD = LVCMOS33;
NET "SRAM_DQ[14]" IOSTANDARD = LVCMOS33;
NET "SRAM_DQ[15]" IOSTANDARD = LVCMOS33;
NET "SRAM_DQ[16]" IOSTANDARD = LVCMOS33;
NET "SRAM_DQ[17]" IOSTANDARD = LVCMOS33;
NET "SRAM_DQ[18]" IOSTANDARD = LVCMOS33;
NET "SRAM_DQ[19]" IOSTANDARD = LVCMOS33;
NET "SRAM_DQ[20]" IOSTANDARD = LVCMOS33;
NET "SRAM_DQ[21]" IOSTANDARD = LVCMOS33;
NET "SRAM_DQ[22]" IOSTANDARD = LVCMOS33;
NET "SRAM_DQ[23]" IOSTANDARD = LVCMOS33;
NET "SRAM_DQ[24]" IOSTANDARD = LVCMOS33;
NET "SRAM_DQ[25]" IOSTANDARD = LVCMOS33;
NET "SRAM_DQ[26]" IOSTANDARD = LVCMOS33;
NET "SRAM_DQ[27]" IOSTANDARD = LVCMOS33;
NET "SRAM_DQ[28]" IOSTANDARD = LVCMOS33;
NET "SRAM_DQ[29]" IOSTANDARD = LVCMOS33;
NET "SRAM_DQ[30]" IOSTANDARD = LVCMOS33;
NET "SRAM_DQ[31]" IOSTANDARD = LVCMOS33;
NET "SRAM_DQP[0]" IOSTANDARD = LVCMOS33;
NET "SRAM_DQP[1]" IOSTANDARD = LVCMOS33;
NET "SRAM_DQP[2]" IOSTANDARD = LVCMOS33;
NET "SRAM_DQP[3]" IOSTANDARD = LVCMOS33;

NET "BP_EXTCLK_P" LOC = AD14;
NET "BP_EXTCLK_N" LOC = AF14;
NET "BP_TIMEPPS_P" LOC = AD12;
NET "BP_TIMEPPS_N" LOC = AF12;
NET "BP_BUSY_P" LOC = Y18;
NET "BP_BUSY_N" LOC = AA19;
NET "BP_FPGA_PROGRAM" LOC = AF16;
NET "BP_FPGA_PROGRAM" IOSTANDARD = LVCMOS33;

#TIMING#################################
NET "OSC" TNM_NET = "OSC";
TIMESPEC TS_OSC = PERIOD "OSC" 8 ns HIGH 50 %;

NET "AD9222_DCO_P" TNM_NET = "AD9222_DCO";
TIMESPEC TS_AD9222_DCO = PERIOD "AD9222_DCO" 5 ns HIGH 50 %;

NET "BP_EXTCLK_P" TNM_NET = "BP_EXTCLK";
TIMESPEC TS_BP_EXTCLK = PERIOD "BP_EXTCLK" 100 ns HIGH 50 %;

INST "SiTCP/SiTCP/GMII/GMII_TXBUF/memRdReq*" TIG;
INST "SiTCP/SiTCP/GMII/GMII_TXBUF/orRdAct*" TIG;
INST "SiTCP/SiTCP/GMII/GMII_TXBUF/dlyBank0LastWrAddr*" TIG;
INST "SiTCP/SiTCP/GMII/GMII_TXBUF/dlyBank1LastWrAddr*" TIG;
INST "SiTCP/SiTCP/GMII/GMII_TXBUF/muxEndTgl" TIG;
INST "SiTCP/SiTCP/GMII/GMII_RXBUF/cmpWrAddr*" TIG;
INST "SiTCP/SiTCP/SiTCP_INT/SiTCP_INT_REG/reg*" TIG;
INST "SiTCP/SiTCP/BBT_SiTCP_RST/resetReq*" TIG;

#INST "RX_SELECT" TIG;
PIN "GMIIMUX.S" TIG;
#PIN "TCALMUX.S" TIG;
#PIN "DRS_CAL_GEN[0].ODDR2_DRS_CAL.D0" TIG;
#PIN "DRS_CAL_GEN[1].ODDR2_DRS_CAL.D0" TIG;
#PIN "DRS_CAL_GEN[2].ODDR2_DRS_CAL.D0" TIG;
#PIN "DRS_CAL_GEN[3].ODDR2_DRS_CAL.D0" TIG;
#PIN "DRS_CAL_GEN[4].ODDR2_DRS_CAL.D0" TIG;
#PIN "DRS_CAL_GEN[5].ODDR2_DRS_CAL.D0" TIG;
#PIN "DRS_CAL_GEN[6].ODDR2_DRS_CAL.D0" TIG;
#PIN "DRS_CAL_GEN[7].ODDR2_DRS_CAL.D0" TIG;
#PIN "ODDR2_DRS_TAG_H.D0" TIG;
#PIN "ODDR2_DRS_TAG_L.D0" TIG;


#VCCAUX##################################
CONFIG VCCAUX="3.3";

